.education-card-container {
  width: 80vw;
  height: auto;
  display: flex;
  padding: 2rem;
  max-width: auto;
  border-radius: 10px;
  gap: 2rem;
  /* border:0.1px solid white; */
  box-shadow: 1px 1px 4px rgb(215, 213, 213);
  margin-block: 1rem;
}

.education-card-image-container {
  width: 40vw;
  height: 45vh;
}

.education-card-header {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.education-card-description-container {
  display: flex;
  flex-direction: column;
}

.education-card-description {
}

.role {
  margin-block: 0.2rem;
}

.education-card-image {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.internships-container {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}

.internship-container a {
  text-decoration: underline;
  color: white;
}
